name: Run Tests

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go 1.20
      uses: actions/setup-go@v5
      with:
        go-version: "1.20"

    - name: golangci-lint
      continue-on-error: true
      uses: golangci/golangci-lint-action@v6
      with:
        args: --issues-exit-code=0 --timeout=5m

    - name: Run tests
      run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... -v ./...

    - name: Upload to codecov
      uses: codecov/codecov-action@v4
      with:
        verbose: true

  changie:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare release
        uses: labd/changie-release-action@v0.5.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

